* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

body {
    display: flex;
    justify-content: center;
    align-items: center;
    min-height: 100vh;

    background-color: #ebebeb;

    font-family: 'Roboto', sans-serif;
}

button {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 1rem 2rem;
    border: none;

    color: #333;
    background-color: #fff;

    text-align: center;
    font-size: 1.5rem;

    border-radius: 0.25rem;
    transition: all 100ms;
    cursor: pointer;
}

.calculator {
    width: 90%;

    background-color: #efefef;

    word-wrap: break-word;

    border-radius: 4px;
    box-shadow: rgba(0, 0, 0, 0.24) 0px 3px 8px;
}

.screen {
    padding: 12px 6px;
    margin-top: 16px;

    text-align: right;
    font-size: 32px;
    font-weight: 700;

    overflow: auto;
}

.button-grid {
    display: grid;
    grid-template-columns: repeat(4, 1fr);
    grid-template-rows: repeat(5, 50px);
    gap: 1px;

    user-select: none;
}

.operator,
.percent,
.add-minus {
    color: #fff;
    background-color: #333333;
}

.equal,
.clear {
    color: #fff;
    background-color: #6200ee;
}

.active {
    background-color: #6200ee;
}

button:active {
    transform: scale(0.95);
}

.zero {
    grid-column: span 2;
}

@media (min-width: 480px) {
    .calculator {
        width: 75%;
    }
}

@media (min-width: 768px) {
    .calculator {
        width: 600px;
    }
    .button-grid {
        grid-template-rows: repeat(5, 60px);
    }
}
